body {
	margin:0;
	font-size: 2em;
	background-color: #eeeeee;
	height: 100%;
}

#camdata {
	display: none;
	position: absolute;
    width: 80%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    box-shadow: 2px 2px 20px 3px #000;
    border-radius: 5px;
}

#speaker {
	display: none;
	position: absolute;
    width: 400px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    box-shadow: 2px 2px 20px 3px #000;
    border-radius: 5px;
}

button {
    background-color: #17a2b8; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.topnav {
  overflow: hidden;
  background-color: #343a40;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.topnav a:hover {
  /*background-color: #28a745;*/
  color: black;
}

.active {
  background-color: #17a2b8;
  color: white;
}

.topnav .icon {
  display: none;
}

#content {
	padding: 10px;
}

div.signal {
	padding: 10px;
}

span.sensor {
	padding-left: 10px;
	color: #5cb85c;
}

div.signal img, div.signal span{
	height: 1.5em;
	vertical-align: middle;
}

div.signal img {
	padding-left: 24px;
}

@media screen and (max-width: 640px) {
   body {font-size: 1.5em;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  div.signal img, div.signal span{
	height: 1.5em;
  }
  #camdata {
    padding-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1em;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.5em;
  left: 0.1em;
  bottom: 0.1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.3em);
  -ms-transform: translateX(1.3em);
  transform: translateX(1.3em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2em;
}

.slider.round:before {
  border-radius: 50%;
}