<!DOCTYPE html>
<html>
<head>
	<title>Alfred</title>
	<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" href="/static/img/logo_48.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#eee"/>
	<link rel="stylesheet" href="/static/css/base.css">
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script>
		window.vapidPublicKey = "{{ vapid_public_key }}";
	</script>
	<script src="/static/js/base.js"></script>
</head>
<body>
	<div class="topnav" id="topNav">
		<a href="/" class="active">Home</a>
		<a href="javascript:void(0);" onclick="sensors()">Sensors</a>
		<a href="javascript:void(0);" onclick="switches()">Switches</a>
		<a href="javascript:void(0);" onclick="sounds()">Sounds</a>
		<a href="javascript:void(0);" onclick="cameras()">Cameras</a>
		<a href="javascript:void(0);" class="icon" onclick="topNav()">&#9776;</a>
	</div>
	<div id="content">
		<h2>Welcome, <strong>{{current_user}}</strong>!</h2>
		<p>Alfred is ready.</p>
         <form action="/logout/" method="post" style="display: inline-block;">
           {% module xsrf_form_html() %}
           <button>Log out</button>
         </form>
    </div>
	<img id="camdata" src="/static/img/logo_192.png" alt="CAMERA DATA" />
	<img id="speaker" src="/static/img/speaker.gif" alt="speaker gif" />
	
</body>
</html>
